In [19]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [20]:
dataset = pd.read_csv('data/mini_data.csv')

In [21]:
dataset

  Profession   Age   Salary Purchased
0     Doctor  44.0  72000.0        No
1     Lawyer  27.0  48000.0       Yes
2     Banker  30.0  54000.0        No
3     Lawyer  38.0  61000.0        No
4     Banker  40.0      NaN       Yes
5     Doctor  35.0  58000.0       Yes
6     Lawyer   NaN  52000.0        No
7     Doctor  48.0  79000.0       Yes
8     Banker  50.0  83000.0        No
9     Doctor  37.0  67000.0       Yes

In [22]:
#X = dataset.iloc[:, 0:3]
#X = dataset.iloc[:, :3]
#X = dataset.iloc[1:6, :-1]
X = dataset.iloc[:, 0:3]

In [23]:
print(X)

  Profession   Age   Salary
0     Doctor  44.0  72000.0
1     Lawyer  27.0  48000.0
2     Banker  30.0  54000.0
3     Lawyer  38.0  61000.0
4     Banker  40.0      NaN
5     Doctor  35.0  58000.0
6     Lawyer   NaN  52000.0
7     Doctor  48.0  79000.0
8     Banker  50.0  83000.0
9     Doctor  37.0  67000.0

In [24]:
Y = dataset.iloc[:, 3].values
#Y = dataset.iloc[:, -1].values

In [25]:
print(Y)

['No' 'Yes' 'No' 'No' 'Yes' 'Yes' 'No' 'Yes' 'No' 'Yes']

In [26]:
#from sklearn.impute import SimpleImputer

In [27]:
#imputer = SimpleImputer(missing_values = np.nan, strategy ='mean')

In [28]:
#fitting = imputer.fit(X.loc[ : , 1:3 ])
from sklearn.impute import SimpleImputer

# Assuming X is your Pandas DataFrame
# Replace 'ColumnName1' and 'ColumnName2' with the actual column names you want to impute
columns_to_impute = ['Age', 'Salary']

imputer = SimpleImputer(strategy='mean')  # You can use other strategies as well

# Use loc to select rows and columns by labels
fitting = imputer.fit(X.loc[:, columns_to_impute])
X.loc[:, columns_to_impute] = fitting.transform(X.loc[:, columns_to_impute])

In [29]:
print(X)

  Profession        Age        Salary
0     Doctor  44.000000  72000.000000
1     Lawyer  27.000000  48000.000000
2     Banker  30.000000  54000.000000
3     Lawyer  38.000000  61000.000000
4     Banker  40.000000  63777.777778
5     Doctor  35.000000  58000.000000
6     Lawyer  38.777778  52000.000000
7     Doctor  48.000000  79000.000000
8     Banker  50.000000  83000.000000
9     Doctor  37.000000  67000.000000